body {
  background-color: #070510 !important;
  color: aliceblue !important;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  margin-top: 20px !important;
  margin-left: 20px !important;
  margin-right: 20px !important;
  padding-left: 0px !important;
}

.todo-list {
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #16121c;
}

.list-content {
  width: 50vw;
}

.todo-list h3,
.todo-list p {
  margin: 0;
}

ul {
  list-style-type: none;
}

.unimportant {
  border: 1px solid rgb(17, 255, 0.474);
  border-left: 15px solid rgb(17, 255, 0);
}

.semi-important {
  border: 1px solid rgb(221, 255, 0.474);
  border-left: 15px solid rgb(221, 255, 0);
}

.important {
  border: 1px solid rgba(255, 0, 0, 0.474);
  border-left: 15px solid rgb(255, 0, 0);
}

.tag {
  padding: 5px;
  border-radius: 4px;
}

.hidden {
  display: none;
}

.todo-list.completed .important,
.todo-list.completed .semi-important,
.todo-list.completed .unimportant  {
  color: #5d5d5d;
  border: 1px solid rgba(255, 0, 0, 0.007);
  border-left: 15px solid rgba(255, 0, 0, 0.022);
}

.submit-btn {
  margin-top: 15px !important;
}
