body {
  background-color: #EEEEEE;
  font-family: Arial, Helvetica, sans-serif;
}

.todo-list {
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-content {
  width: 50vw;
}

.todo-list h3,
.todo-list p {
  margin: 0;
}

ul {
  list-style-type: none;
}

.unimportant {
  border: 1px solid rgb(17, 255, 0);
  border-left: 10px solid rgba(17, 255, 0, 0.474);
}

.semi-important {
  border: 1px solid rgb(221, 255, 0);
  border-left: 10px solid rgba(221, 255, 0, 0.474);
}

.important {
  background-color: rgba(246, 0, 0, 0.096);
  border: 1px solid red;
  border-left: 10px solid rgba(255, 0, 0, 0.474);
}

.tag {
  background-color: yellowgreen;
  padding: 5px;
  border-radius: 4px;
}